body {
    background-color: #f4f4f4;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-card {
    max-width: 400px;
    width: 100%;
    bottom: 15%;
  }