<body>
    <div class="card shadow signup-card">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">Create Account</h3>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="John">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Doe">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
          </div>
  
          <div class="mb-3">
            <label for="phone number" class="form-label">Phone number</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="***-***-****">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="123 Main St">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-success">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </body>